%div{style: "width: 100%; text-align: center"}
  %h1 Welcome to PlantFrau!!!

%div{style: "width: 100%; text-align: left"}
  %h2
    Name:
    = @plant.name
  %h3
    Botanical name:
    = @plant.botanical_name
  %h4
    Family:
    = @plant.family
  %p
    Description:
    = @plant.description