<div class="sidenav nav-wrap" id="nav-wrapper">
  <div id="sidenav" class="sidenav navbar">
    <div class="logo-wrapper corporate-name">
      <span >
        PlantFrau
      </span>
      <span>
        <i class="fa fa-leaf" aria-hidden="true"></i>
      </span>
      <span class="btn-close" onclick="closeNav()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>

    </div>
    <div class="nav-links">
      <a href="#"> Home <span><i class="fa fa-home" aria-hidden="true"></i></span></a>
      <a href="#"> Favourites <span><i class="fa fa-star" aria-hidden="true"></i></span></a>
      <a href="#"> About <span><i class="fa fa-info-circle" aria-hidden="true"></i></span></a>
    </div>
    <div class="nav-footer" id="nav-footer">
      <a href="#">Logout <span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a>
    </div>
  </div>
</div>
<div class="main" id="main-body">
  <div class="head-area">
    <div class="btn-menu" onclick="openNav()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="searchbar">
      <%= text_field_tag :search, "", class: "searchbox", placeholder: "Search Plants"%>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content" onclick="closeNav()">
    <%= render partial: "plants/content_card" %>
  </div>
</div>

<!--<div class="nav-wrapper">-->
<!--  <div id="sidenav" class="navbar">-->
<!--    <div class="logo-wrapper corporate-name">-->
<!--  <span >-->
<!--    PlantFrau-->
<!--  </span>-->
<!--      <span>-->
<!--    <i class="fa fa-leaf" aria-hidden="true"></i>-->
<!--  </span>-->
<!--    </div>-->
<!--    <a href="#"> Home</a>-->
<!--    <a href="#"> About</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="content-wrapper">-->
<!--  <div class="content-section">-->
<!--    <div class="content-header">-->
<!--      <div class="searchContainer">-->
<!--        <div class="searchBox">-->
<!--          <input type="search" id="page-search" name="search" placeholder="search plant"/>-->
<!--          <i class="fa fa-search" aria-hidden="true"></i>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <%#= render partial: "plants/content_card" %>
<!--  </div>-->
<!--</div>-->

